.navbar-brand{
    color:white !important;
    font-size:2.8rem;
    font-weight: 630;
}

.brand-logo{
    height: 38px;
    width: 100%;
}

.nav-lang{
    color:white !important;
    &:hover{
        color: #e24c6d !important;
    }
}

.nav-login{
    color: #e24c6d;
    border:none;
    background-color: white;
    font-weight: 600;
    font-size:1.25rem;
    padding:.25em 1.2em;
    &:hover{
        color: #e24c6d;
    }
}

.navbar{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0));
    color:white;
    justify-content: space-between;
    width: 100%;
    position:fixed;
    padding:0 1.8rem;
}

.items{
    display: flex;
}

.item{
    margin-right: 2.8rem;
    color:white !important;
    font-size:1.25rem;
    &:hover{
        color: #e24c6d !important;
        text-decoration: underline;
        transition: text-decoration 0s ease-in-out;
        cursor: pointer;
    }
}

.icon{
    display: none;
}

.navbar__header{
    display: flex;
    // background-color: steelblue;
    width: 15.5%;
    justify-content: start;
}

.navbar__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: mediumslateblue;
    width: 84.5%;
    position:relative;
    // background-color: transparent !important;
}

.right_items{
    display: flex;
    // align-items: flex-start;
    // background-color: pink;
}

@media only screen and (max-width:600px){
    
    .navbar__right--active{
        background-color: white !important;
        height:100vh;
    }

    .brand-logo{
        height: 28px;
    }
    
    .navbar-brand{
        font-size:1.9rem;
    }

    .items{
        display: none; 
        padding:0 .5rem;
        // background-color: red;
    }

    .active{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        // height:100vh;
        width:100%;
        background-color: transparent;
    }

    .item{
        padding: .5rem .7rem;
        margin:0 auto 1rem auto;
        font-size: 1rem;
        font-weight: 500;
        background-color: #f0f2f4;
        color:black !important;
        width:100%;
        &:hover{
            text-decoration: none;
            color:black !important;
        }
    }

    .navbar__header{
        justify-content: space-between;
        align-items: center;
        width:100%;
        padding:0 1.8rem;
    }

    .icon{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        padding:0;
    }

    .navbar__right{
        flex-direction: column;
        width:100%;
        background-color: transparent;
    }

    .right_items{
        margin-bottom:5rem;
        z-index:9999;
        // margin-top:5.5rem;
        display: flex;
        // background-color: white;
        background-color: transparent;
        width: 80%;
        flex-direction: column-reverse;
    }

    .btn{
        text-transform: uppercase;
        border-radius: 2rem;
        font-size: 1rem;
        padding:.5em 0;
        &:hover{
            color:white;
        }
    }

    .nav-login{
        color:white;
        background-image: linear-gradient(to right,rgba(253,48,110,255),rgba(254,83,69,255));
    }

    .nav-lang{
        color:black !important;
        display: flex;
        align-self: center;
        // text-transform: capitalize;
    }
}

@media only screen and (max-width:335px){
    .right_items{
        margin-top: 4.5rem;
    }
}