.navbar{
    position:fixed;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0));
    padding:0 1rem;
}

.navbar-brand{
    color:white !important;
    font-size:2.8rem;
    font-weight: 630;
}

.navbar-nav .nav-item .nav-link{
    color:white !important;
    font-size:1.25rem;
    &:hover{
        color: #e24c6d !important;
        text-decoration: underline;
        transition: text-decoration 0s ease;
    }
}

.brand-logo{
    height: 38px;
    width: 100%;
}

.nav-lang{
    color:white !important;
    &:hover{
        color: #e24c6d !important;
    }
}

.nav-login{
    color: #e24c6d;
    border:none;
    background-color: white;
    font-weight: 600;
    font-size:1.25rem;
    padding:.25em 1.2em;
    &:hover{
        color: #e24c6d;
    }
}