section.container-fluid{
   height:100vh;
}

.wrapper{
   color:white;
}

.wrapper__title{
   font-size: 6.5rem;
   font-weight: 650;
}

.wrapper__reg{
   font-size: 5rem;
   font-weight: 400;
}

.wrapper__create_account{
   color:white;
   text-transform: uppercase;
   background-image: linear-gradient(to right,rgba(253,48,110,255),rgba(254,83,69,255));
   margin:1rem 11.5rem 0 11.5rem;
   border-radius: 2rem;
   font-size: 1.05rem;
   font-weight: 500;
   padding:.9rem 0;
   &:hover{
      color:white;
      background-image: linear-gradient(to right,rgba(254,83,69,255),rgba(253,48,110,255));
   }
}